body {
	font-family: Helvetica;
	width: 100%;
}

#container {
	margin: 0 auto;
	max-width: 1000px;
}	

#vis-container {
	border: 1px solid grey;
}

h2 {
	padding:15px 0px;
}

.nodes > circle {
	stroke: black;
}

.links > line {
	stroke: black;
	stroke-opacity : 0.6;
}